<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>오마코스</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/mypage/modifynickname.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100;300;400;900&family=Roboto:wght@100&display=swap"
          rel="stylesheet">

    <script defer th:src="@{/resources/scripts/mypage/modifyPassword.js}"></script>

    <script src="https://kit.fontawesome.com/ba55ade6bc.js" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<header>
    <h2 class="logo"><a href="/">
        <p>O<span>h</span> M<span>y</span> C<span>our</span>S<span>e</span></p>
    </a></h2>
    <nav class="navigation">
        <a href="/community">커뮤니티</a>
        <a href="/course">코스만들기</a>
        <a href="/mypage">마이페이지</a>
    </nav>
</header>
<form class="containerForm" id="pwRecoverForm">
    <div class="banner">
        <div class="content">
            <div>
                <i class="fa-solid fa-person"></i>
            </div>
            <h2 th:text="${session.user.getNickname()}"><br> 반갑습니다!</h2>
            <a href="#">나의 일정</a>
        </div>
    </div>
    <div class="personalInfo">
        <div class="formBox">
            <h3>비밀번호 재설정</h3>
<!--            <div class="inputContainer">-->
<!--                <label class="md-title" >현재 비밀번호</label>-->
<!--                <div class="inputWithButton">-->
<!--                    <div class="inputBox">-->
<!--                        <input class="boxContent" name="nwPassword" style="font-weight: 200">-->
<!--                    </div>-->
<!--                    <span class="warning nwPassword" rel="nwPasswordWarning">비밀번호가 일치하지 않습니다.</span>-->
<!--                </div>-->
<!--            </div>-->
            <div class="inputContainer">
                <label class="md-title">사용할 비밀번호</label>
                <div class="inputWithButton">
                    <div class="inputBox">
                        <input class="boxContent" style="font-weight: 200" name="password" type="password">
                    </div><br>
                    <span class="warning password" rel="passwordWarning">비밀번호가 일치하지 않습니다.</span>

                </div>
            </div>
            <div class="inputContainer">
                <label class="md-title">비밀번호 확인</label>
                <div class="inputWithButton">
                    <div class="inputBox">
                        <input class="boxContent" name="passwordCheck" type="password">
                    </div><br>
                    <span class="warning mdRcPassword" rel="mdRcPasswordWarning">비밀번호가 일치하지 않습니다.</span>
                    <button class="editButton" type="submit">재설정</button>
                </div>
            </div>
        </div>
    </div>
</form>
<section id="footer">
    <div class="footer">
        <div class="footer-con">
            <span>SNS</span>
            <a>이용약관 / 개인정보처리방침</a>
            <span>대구 중구 중앙대로 366 9층, 10층</span>
            <span>yeo328@kakao.com</span>
            <span>tig05205@nate.com</span>
            <span>omcs Co., Ltd All right reserved.</span>
        </div>
    </div>
</section>
</body>
</html>