
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>OMCS - 마이페이지</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/mypage/mypage.css}">
    <script defer th:src="@{/resources/scripts/mypage/mypage.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.all.min.js"></script>


</head>
<body>
<header>
    <h2 class="logo"><a href="/">
        <p>O<span>h</span> M<span>y</span> C<span>our</span>S<span>e</span></p>
    </a></h2>
    <nav class="navigation">
        <a href="/course">코스만들기</a>
        <a href="/community">커뮤니티</a>
        <a href="/notice">공지사항</a>
        <a href="/user/logout">로그아웃</a>
    </nav>
</header>

<div id="wrap">
    <section id="banner">
        <img th:src="@{/resources/images/nightseoul.jpg}" alt="">
        <div class="container">
            <div class="user">
                <h1 th:text="${session.user.getNickname()}"></h1>
                <h2>님 반갑습니다!</h2>
            </div>
            <div class="category">
                <ul>
                    <li><a href="#contents1">개인정보수정</a></li>
                    <li><a href="#contents2">나의 일정</a></li>
                    <li><a href="/community/myWriteList">나의 게시글</a></li>
                    <li><a href="#" id="myWishlistLink">나의 찜 리스트</a></li>

                </ul>
            </div>
        </div>
    </section>
    <div id="myModal" class="modal">
        <form class="modal-content" id="modalForm">
            <h2>찜 리스트</h2>
            <span class="close">&times;</span>
            <div class="space"></div>
            <li class="item" th:each="myPick : ${myPickEntities}" th:if="${myPick.getEmail()} == ${loggedInUser.getEmail()}">
                <div class="spec-container">
                    <input type="hidden" name="pickIndex" th:value="${myPick.getIndex()}">
                    <div class="name-container">
                        <span class="name" th:text="${myPick.getTitle()}" th:onclick="|location.href='@{/detail(contentId=${myPick.contentId})}'|"></span>
                        <!--                        <span class="category">중화음식</span>-->
                    </div>
                    <div class="op-container">
                        <span class="op-flag" th:text="${myPick.getAddr1()}"></span>
                    </div>
                    <div class="address-container">
                        <a class="delete" href="#" rel="deletePick" id="deletePickButton">삭제</a>
                    </div>
                </div>
                <div class="image-container">
                    <img alt="" class="image" th:src="${myPick.getFirstImage()}" th:onclick="|location.href='@{/detail(contentId=${myPick.contentId})}'|">
                </div>
            </li>
        </form>

    </div>
    <section id="contents1">

        <div class="container">
            <h2>개인정보 수정</h2>

            <div class="modifyUser">
                <div class="personalInfo">
                    <div class="formBox">
                        <form>
                            <div class="inputContainer">
                                <label class="md-title">닉네임</label>
                                <div class="inputWithButton">
                                    <div class="inputBox">
                                        <div class="boxContent" style="font-weight: 200"
                                             th:text="${session.user.getNickname()}"></div>
                                    </div>
                                    <a href="/myPage/editPersonal/modifyNickname">
                                        <button class="editButton" type="button">수정</button>
                                    </a>
                                </div>
                            </div>

                            <div class="inputContainer">
                                <label class="md-title">이메일</label>
                                <div class="inputWithButton">
                                    <div class="inputBox">
                                        <div class="boxContent" th:text="${session.user.getEmail()}">test@test.com</div>
                                    </div>
                                </div>
                            </div>

                            <div class="inputContainer">
                                <label class="md-title">비밀번호</label>
                                <div class="inputWithButton">
                                    <div class="inputBox">
                                        <div class="boxContent" style="font-weight: 200">변경하기</div>
                                    </div>
                                    <a href="/myPage/editPersonal/modifyPassword">
                                        <button class="editButton" type="button">수정</button>
                                    </a>
                                </div>
                            </div>
                            <div class="inputContainer">
                                <label class="md-title">전화번호</label>
                                <div class="inputWithButton">
                                    <div class="inputBox">
                                        <div class="boxContent" th:text="${session.user.getContact()}">010-****-****
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="/mypage/editPersonal/withDraw">
                                <button class="editButton" type="button">탈퇴하기</button>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="planCardForm">
        <section id="contents2">
            <div class="container">
                <h2>나의 일정</h2>
                <div class="schedule-list">
                    <div class="scheduleCard" th:each="planner : ${plannerVo}" th:if="${planner.getEmail()} == ${loggedInUser.getEmail()}" >
                        <!--                        <input type="hidden" name="index" th:value="${planner.getIndex()}">-->
                        <div class="cardImg">
                            <img th:src="${planner.getAreaImg()}" alt="">
                        </div>
                        <div class="cardTitle">
                            <div class="area">
                                <span th:text="${planner.getAreaName()}">부산</span>
                            </div>
                        </div>
                        <div class="cardDetail">
                            <div class="content">
                                <div class="contentTitle">
                                    <span>여행 제목 : </span>
                                </div>
                                <span th:text="${planner.getPlannerTitle()}">  포항 여행</span>
                            </div>

                            <div class="content">
                                <div class="contentTitle">
                                    <span>여행 일자 : </span>
                                </div>
                                <span th:text="${#dates.format(planner.getStartDate(), 'yyyy-MM-dd')}">  포항 여행</span>
                                <div> ~</div>
                                <span th:text="${#dates.format(planner.getEndDate(), 'yyyy-MM-dd')}">  포항 여행</span>
                            </div>
                        </div>
                        <div class="userInfo">
                            <div class="userEmail">
                                <span th:text="${planner.getEmail()}"></span>
                            </div>
                            <div class="userCreatedAt">
                                <span th:text="${planner.getCreateAt()}"></span>
                            </div>
                        </div>
                        <div class="cardMd">
                            <a class="delete" href="#" rel="delete" id="deleteButton">삭제</a><!--                        <a class="modify" th:href="@{/community/editWrite?index={index} (index=${article.getIndex()})}"-->
                            <!--                           rel="modify">수정</a>-->
                            <form action="/myplan" method="get">
                                <input style="display: none" type="text" name="index" th:value="${planner.getIndex()}">
                                <input type="submit" value="상세일정보기" class="detailBtn">
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </section>
    </div>

    <section id="contents3">
        <div class="container">
            <div class="my-pick-list">

            </div>
        </div>
    </section>
</div>
<div class="footer">
    <div class="footer-con">
        <div class="box left">
            <nav class="site-map">
                <ul class="foot-menu">
                    <li class="item-title">OMCS 서비스</li>
                    <li class="item">
                        <a href="/notice" class="link">공지사항</a>
                    </li>
                    <li class="item">
                        <a href="/community" class="link">커뮤니티</a>
                    </li>
                    <li class="item">
                        <a href="/course" class="link">코스 만들기</a>
                    </li>
                </ul>
                <ul class="foot-menu">
                    <li class="item-title">OMCS 기업정보</li>
                    <li class="item">
                        <a href="#" class="link">채용정보</a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">파트너십</a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">제휴 문의</a>
                    </li>
                </ul>
                <ul class="foot-menu">
                    <li class="item-title">법적 고지</li>
                    <li class="item">
                        <a href="#" class="link">개인정보처리법</a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">이용 약관</a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">법적 고지</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="box right">
            <a id="adminPage" href="/admin">관리자페이지</a>
            <a>이용약관 / 개인정보처리방침</a>
            <span>대구 중구 중앙대로 366 9층, 10층</span>
            <span>yeo328@kakao.com</span>
            <span>omcs Co., Ltd All right reserved.</span>
        </div>
    </div>
</div>
</body>
</html>