<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OMCS - 코스만들기</title>
    <style>
        .dotOverlay {position:relative;bottom:10px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;font-size:12px;padding:5px;background:#fff;}
        .dotOverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
        .number {font-weight:bold;color:#ee6152;}
        .dotOverlay:after {content:'';position:absolute;margin-left:-6px;left:50%;bottom:-8px;width:11px;height:8px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png')}
        .distanceInfo {position:relative;top:5px;left:5px;list-style:none;margin:0; display: flex; flex-direction: column;}
        .distanceInfo .label {display:inline-block;width:50px;}
        .distanceInfo:after {content:none;}
    </style>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/course/course.css}">
<!--    <link rel="stylesheet" th:href="@{/resources/stylesheets/detail.css}">-->

    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=71fc87fcfe529918b095ec79a528be16&libraries=services,clusterer,drawing"></script>
    <script defer th:src="@{/resources/scripts/course/map.js}"></script>
    <script defer th:src="@{/resources/scripts/course/course.js}"></script>
    <script defer th:src="@{/resources/scripts/detail.js}"></script>

</head>
<body>
<div id="cover" class="visible"></div>
<form id="plannerForm" class="visible">
    <div class="close" id="plannerClose"></div>
    <h2 class="plan-title">OMCS - 코스만들기</h2>
    <div class="planner-container">
        <label class="city-container">
            <h4 class="city-title">지역을 선택해 주세요.</h4>
            <select name="city" id="city">
                <option name="option" value="0">--</option>
                <option name="option" value="1">서울</option>
                <option name="option" value="2">인천</option>
                <option name="option" value="3">대전</option>
                <option name="option" value="6">부산</option>
                <option name="option" value="4">대구</option>
                <option name="option" value="7">울산</option>
                <option name="option" value="5">광주</option>
                <option name="option" value="39">제주</option>
                <option name="option" value="31">경기</option>
                <option name="option" value="32">강원</option>
                <option name="option" value="33">충북</option>
                <option name="option" value="34">충남</option>
                <option name="option" value="35">경북</option>
                <option name="option" value="36">경남</option>
                <option name="option" value="37">전북</option>
                <option name="option" value="38">전남</option>
            </select>
        </label>
        <label class="date-container">
            <h4 class="date-title">날짜를 선택해 주세요.</h4>
            <input type="date" name="startDate" class="start-date" id="startDate">
            ~
            <input type="date" name="endDate" class="end-date" id="endDate">
        </label>
        <label class="title-container">
            <h4 class="title-title">일정의 이름을 입력해주세요.</h4>
            <input type="text" name="planner-title" class="plan-name" placeholder="일정의 이름을 입력해주세요.">
        </label>
        <input class="button" type="submit" value="작성하기">
    </div>
</form>
<div class="wrap">

    <div class="head">
        <div class="head-con">
            <div class="logo">
                <a href="/">
                    <p>O<span>h</span> M<span>y</span> C<span>our</span>S<span>e</span></p>
                </a>
            </div>

            <nav class="nav">
                <ul class="main-menu">
                    <li>
                        <a href="/course">코스만들기</a>
                    </li>
                    <li>
                        <a href="/community">커뮤니티</a>
                    </li>
                    <li>
                        <a href="/notice">공지사항</a>
                    </li>
                    <li class="userLi" th:if="${session.user != null}">
                        <a href="/mypage">마이페이지</a>
                    </li>
                    <li data-action="showLogin" th:if="${session.user == null}">
                        <a href="/user/login" id="showLogin">로그인</a>
                    </li>
                    <li data-action="shouLogout" th:if="${session.user != null}">
                        <a href="/user/logout" id="showLogout">로그아웃</a>
                    </li>
                </ul>

            </nav>
        </div>

    </div>

    <div id="contents">

        <div id="plan">
            <h2>일정생성</h2>
            <div class="address-container">
                <span class="text gu" rel="addressGu"></span>
            </div>
            <div class="address-container">
                <span class="text gu" rel="addressGu"></span>
            </div>
            <div class="address-container">
                <span class="text gu" rel="addressGu"></span>
            </div>
            <div class="line"></div>
            <div id="planner-info-container">
                <li class="item">
                    <span>플래너 인덱스</span>
                    <span>플래너 타이틀</span>
                </li>
                <div style="margin: 5%; ">
                    <span style="font-weight: bold; text-align: center; "> 일차별 day버튼을 클릭하여 순서대로 일정을 추가해주세요 !</span>
                </div>

            </div>
            <div class="line"></div>
            <div class="plan-day-btn">
                <button>day1</button>
            </div>
            <div class="line"></div>
            <div class="plan-list">

                <form>
<!--                    <input type="submit" value="저장하기">-->
                </form>
            </div>
        </div>
        <div id="recommend">
            <div class="map-DB-list">
                <div class="fixed-div">
                    <h2>추천 여행지</h2>
                    <section id="list">
                        <form class="search-form">
                            <label class="label">
                                <img alt="" class="icon" th:src="@{/resources/images/search-50.png}">
                                <input id="searchInput" class="input" maxlength="50" placeholder="여행지 검색" type="text">
                            </label>
                        </form>
                    </section>
                </div>

                <li class="item">
                    <div class="image-container">
                    </div>
                    <div class="spec-container">

                    </div>
                </li>

            </div>
<!--            <div class="line"></div>-->
<!--            <div>-->
<!--                <h2>거리순 추천 여행</h2>-->
<!--            </div>-->
<!--            <li class="item">-->
<!--            </li>-->

        </div>
        <div id="kakao-map">
            <div id="map"></div>

            <!--            <form>-->
            <!--                <div id="clickLatlng">-->
            <!--                    <input type="text">-->
            <!--                    <input type="submit">-->
            <!--                </div>-->
            <!--            </form>-->

        </div>
    </div>

</div>


</body>
</html>