<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OMCS</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/user/recoverpassword.css}">
    <script defer th:src="@{/resources/scripts/sendEmailCode.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.min.css" rel="stylesheet">

</head>
<body>
<form id="recoverForm" class="wrapper" th:action>
    <div class="form-box">
        <h2>비밀번호 재설정 </h2>
        <div class="input-box password-container">
            <span class="icon"><ion-icon name="mail"></ion-icon></span>
            <input type="email" name="pEmail">
            <label>이메일 입력</label>
            <span class="warning" rel="warning"></span>
        </div>
        <input class="btn" type="submit" value="이메일 전송">
        <div class="login-register">
            <a href="/user/login" class="register-link">로그인하기</a>
        </div>
    </div>
</form>

<!--<script defer th:src="@{/resources/scripts/home.js}"></script>-->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>